[Unit]
Description=riviera
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/riviera --boltdb /var/riviera/db /etc/riviera/feeds.xml

Restart=always
User=root
Group=root
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
