Source: idnits
Version: 2.01.1
Section: text
Priority: optional
Maintainer: Henrik Levkowetz <henrik@levkowetz.com>
Package: idnits
Architecture: any
Depends: bash, awk, tee, coreutils
Description: Idnits checks internet-drafts for violations of Section 2.1 and 2.2 of the ID-Checklist.
	The ID-Checklist is available at http://www.ietf.org/ID-Checklist.html .  Note
	that there are requrements which are *not* checked by idnits, but need manual
	checks.

