<footer class="site-footer">

  <div class="wrapper">

    {% if page.previous.url or page.next.url %}
    <div class="PageNavigation">
      {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">&laquo;
        {{page.previous.title}}</a>
      {% endif %}
      {% if page.next.url %}
      <a class="next"
        href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </div>
    {% endif %}

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a rel=me class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          <li>
            <a href="https://plus.google.com/+JoeGregorio" rel=me>
              <svg enable-background="new 0 0 128 128" height="16px" viewBox="0 0 128 128" width="16px" xml:space="preserve">
                <circle cx="64" cy="64" fill="gray" r="64"/>
                <path d="M49.424,97.875c-19.018,0-34.491-15.193-34.491-33.874c0-18.68,15.473-33.875,34.491-33.875 c8.318,0,16.354,2.952,22.624,8.309l-8.771,9.899c-3.838-3.279-8.758-5.086-13.853-5.086c-11.652,0-21.13,9.31-21.13,20.752 c0,11.441,9.479,20.75,21.13,20.75c9.858,0,16.311-4.723,18.407-13.197H49.587V58.432h32.347v6.562 C81.934,84.659,68.869,97.875,49.424,97.875z"
                fill="#FFFFFF"/>
                <polygon fill="#FFFFFF" points="117.934,58.438
                107.934,58.438 107.934,48.438 99.934,48.438 99.934,58.438
                89.934,58.438     89.934,66.438 99.934,66.438 99.934,76.438
                107.934,76.438 107.934,66.438 117.934,66.438   "/>
              </svg>
              <span class="username">JoeGregorio</span></a>
          </li>
        </ul>
      </div>

      <div class="h-card footer-col footer-col-3">
        <p class="p-note">{{ site.description | escape }}</p>
        <a class="p-name u-url" href="https://bitworking.org" style="display: none"><img
          class="u-photo" src="/images/joe2016.jpg" alt="" />Joe Gregorio</a>
        <a rel=me class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>
    </div>

  </div>

</footer>
