.wm-content {
  display: block;
  margin-bottom: 1em;
}

.wm-author {
  font-weight: bold;
}

.wm-thumbnail:hover {
  text-decoration: none;
}

#webmention {
  margin-left: 1em;
  margin-bottom: 2em;
  font-size: 80%;
}

#webmention h3 {
  border-bottom: solid lightgray 1px;
  margin-left: -1em;
}

#webmention img {
  display: inline;
  width: 16px;
}
