---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

dd {
  padding-left: 1em;
}

dt {
  font-weight: bold;
  margin: 1em 0;
}

blockquote {
  color: #222;
}

.PageNavigation {
  display: block;
  width: auto;
  overflow: hidden;
  border-bottom: solid lightgray 1px;
  margin-bottom: 0.5em;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}
