---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <a class="u-url" href="{{ page.url }}">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="dt-published">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          {{ page.date | date: date_format }}
        </time>
      </a>
      • <a rel="author me" class="p-author h-card" href="/about"> <span itemprop="author"
          itemscope itemtype="http://schema.org/Person">
          <img class="u-photo" src="/images/joe2016.jpg" alt="" style="height: 16px; border-radius: 8px; margin-right: 4px;" />
          <span
            itemprop="name">{{ page.author }}</span></span></a>
      </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    <a href="https://brid.gy/publish/twitter"></a>
  </div>

  <script type="text/javascript" charset="utf-8">
    fetch('{{ site.data.webmention.host }}/Mentions', {
      cache: 'no-cache',
    }).then(function(resp) {
      if (!resp.ok) {
        return
      }
      resp.text().then(function(text) {
        document.getElementById('mentions').innerHTML = text;
      });
    });
  </script>
  <div id=mentions>
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
